<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div>
        Build at:
        <%= htmlWebpackPlugin.options.buildTime %>
    </div>
    <div id="root"></div>
</body>
</html>